# APP_SECRET is the secret key used to sign JWT tokens.
APP_SECRET=JWTPASSWORD

# APP_PORT specifies the port on which the application will run.
APP_PORT=8001

# APP_ENV indicates the environment in which the application is running (local, dev, prod).
APP_ENV=local

# APP_MIGRATIONS is the path or URL to the database migration files.
APP_MIGRATIONS=file://migrations

# APP_DSN is the Data Source Name (DSN) used for connecting to the PostgreSQL database.
APP_DSN=postgres://postgres:postgres@db:5432/example?sslmode=disable

# POSTGRES_DB specifies the name of the PostgreSQL database to use.
POSTGRES_DB=watchlist

POSTGRES_PORT=5432

# POSTGRES_USER is the username used to connect to the PostgreSQL database.
POSTGRES_USER=postgres

# POSTGRES_PASS is the password used to connect to the PostgreSQL database.
POSTGRES_PASSWORD=password
