name: Deploy to Server

on:
  push:
    branches:
      - test_https

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      # Uploading project files to GitHub Runner
      - name: Checkout Project Files
        uses: actions/checkout@v3

      # Set up a private SSH key
      - name: Configure SSH Access
        uses: webfactory/ssh-agent@v0.7.0
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      # Create VERSION based on the current date and time, then create and push the tag
      - name: Set VERSION and Create Tag
        run: |
          VERSION=$(date +'%Y%m%d%H%M%S')
          echo "VERSION=${VERSION}" >> $GITHUB_ENV
    
          git config --global user.email "${{ secrets.GIT_USER_EMAIL }}"
          git config --global user.name "${{ secrets.GIT_USER_NAME }}"
    
          git tag -a "v${VERSION}" -m "Release version ${VERSION}"
          git push origin "v${VERSION}"

      # Copying project files to the server storage
      - name: Upload Project to Server
        run: |
          ssh -i ~/.ssh/id_rsa -o StrictHostKeyChecking=no ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }} << 'EOF'
            mkdir -p /home/${{ secrets.SSH_USER }}/watchlist-api
          EOF
          
          scp -i ~/.ssh/id_rsa -o StrictHostKeyChecking=no -r ./* ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }}:/home/${{ secrets.SSH_USER }}/watchlist-api

        # Exporting environment variables and running docker compose
      - name: Deploy Application with Docker Compose
        run: |
          ssh -i ~/.ssh/id_rsa -o StrictHostKeyChecking=no -o ServerAliveInterval=60 -o ServerAliveCountMax=5 ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }} << 'EOF'
            cd /home/${{ secrets.SSH_USER }}/watchlist-api
          
            # Export environment variables 
            export USE_HTTPS=${{ secrets.USE_HTTPS }}
            export SERVER_HOST=${{ secrets.SSH_HOST }}
            export APP_PORT=${{ secrets.APP_PORT }}
            export APP_SECRET=${{ secrets.APP_SECRET }}  
            export APP_ENV=${{ secrets.APP_ENV }}  
            export APP_MIGRATIONS=${{ secrets.APP_MIGRATIONS }}  
            export APP_DSN=${{ secrets.APP_DSN }}  
            export POSTGRES_USER=${{ secrets.POSTGRES_USER }}  
            export POSTGRES_PASSWORD=${{ secrets.POSTGRES_PASSWORD }}  
            export POSTGRES_DB=${{ secrets.POSTGRES_DB }}  
            export POSTGRES_PORT=${{ secrets.POSTGRES_PORT }}
            export VERSION=${{ env.VERSION }}
            export GRAFANA_PASSWORD=${{ secrets.GRAFANA_PASSWORD }}
          
            # Deploy with Docker Compose
            docker-compose down
          
            # If FULL_REBUILD = true, then use --no-cache
            if [[ "${{ secrets.FULL_REBUILD }}" == "true" ]]; then
              docker-compose build --no-cache
            else 
              docker-compose build
            fi
          
            docker-compose up -d
          EOF

      # Installing dependencies (node.js, npm, newman) to run Postman tests if they are not already installed
      - name: Prepare Node.js Environment for Testing
        run: |
          ssh -i ~/.ssh/id_rsa -o StrictHostKeyChecking=no ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }} << 'EOF'
            # Check if Node.js is installed
            if ! command -v node &> /dev/null; then
              echo "Node.js not found, installing..."
              curl -fsSL https://deb.nodesource.com/setup_18.x | sudo -E bash -
              sudo apt-get install -y nodejs
            else
              echo "Node.js is already installed"
            fi

            # Check if npm is installed
            if ! command -v npm &> /dev/null; then
              echo "npm not found, installing..."
              sudo apt-get install -y npm
            else
              echo "npm is already installed"
            fi

            # Check if Newman is installed
            if ! command -v newman &> /dev/null; then
              echo "Newman not found, installing..."
              npm install -g newman
            else
              echo "Newman is already installed"
            fi
          EOF

      # Running tests from Postman located in the tests/postman folder
      - name: Execute Postman Tests
        run: |
          ssh -i ~/.ssh/id_rsa -o StrictHostKeyChecking=no ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }} << 'EOF'
            cd /home/${{ secrets.SSH_USER }}/watchlist-api/tests/postman
          
            # Clearing the cache
            sudo systemd-resolve --flush-cachesÑ
          
            # Determine BASE_URL based on USE_HTTPS
            if [ "${{ secrets.USE_HTTPS }}" == "true" ]; then
              BASE_URL="https://${{ secrets.SSH_HOST }}"
            else
              BASE_URL="http://${{ secrets.SSH_HOST }}:${{ secrets.APP_PORT }}"
            fi
          
            # Starting with the determinated BASE_URL
            newman run postman_collection.json --environment postman_environment.json --env-var "BASE_URL=$BASE_URL"

          EOF
